/* ******general********************** */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

*::selection {
  background-color: #ffd15b;
  color: black;
  text-shadow: none;
}

body {
  font-family: "Exo", sans-serif;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.content-container {
  width: 95%;
  margin: auto;
  padding-inline: 10px;
}

.padding-block-section {
  padding-block: 60px;
}

.margin-10 {
  margin-bottom: 12px;
}

.margin-16 {
  margin-bottom: 16px;
}

.margin-18-6 {
  margin-block: 1.125rem 0.375rem;
}

.margin-36 {
  margin-top: 36px;
  margin-bottom: 20px;
}

.margin-bottom-24 {
  margin-bottom: 1.5rem;
}
.margin-bottom-21 {
  margin-bottom:21px;
}

.margin0 {
  margin: 0;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-direct-col {
  flex-direction: column;
}

.gap {
  gap: 1em;
}

.gap-row {
  row-gap: 1em;
}

.gap0-7 {
  gap: 0.7em;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}

.align-items-space-around {
  align-items: space-around;
}

.align-items-space-between {
  align-items: space-between;
}

.align-items-space-evenly {
  align-items: space-evenly;
}

/* ******general********************** */

/* ******text**********************/

.text-orange {
  color: #ff6900;
}

.text-red {
  color: #e7000b;
}

.text-blue {
  color: #155dfc;
}

.text-white {
  color: white;
}

.text-red2 {
  color: #e4030a;
}

.text-violet {
  color: rgb(172, 74, 255);
}

.text-gray {
  color: rgb(204, 204, 204);
}

.text-dark-gray {
  color: #525252;
}

.f-size14 {
  font-size: 0.875rem;
}
.f-size16 {
  font-size: 1rem;
}
.f-size18 {
  font-size: 1.125rem;
}
.f-size20 {
  font-size: 1.25rem;
}
.f-size24 {
  font-size: 1.5rem;
}

.weight-700 {
  font-weight: 700;
}

.weight-600 {
  font-weight: 600;
}

h1 {
  font-size: 3.375rem;
  font-weight: 900;
  line-height: 4.2188rem;
}

h2 {
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 3rem;
}
.h2-small {
  font-size: 1.4063rem;
  font-weight: 900;
  line-height: 1.6875rem;
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
}
.h3-xl {
  font-size: 1.4063rem;
  font-weight: 900;
}
.h3-xxl {
  font-size: 1.6875rem;
  font-weight: 900;
  line-height: 1.875rem;
}

h4,
h5 {
  font-size: 0.8438rem;
  font-weight: 700;
}
.h4-xl {
  font-size: 1.4063rem;
  font-weight: 900;
}

.card-paragraph {
  font-size: 0.8438rem;
  line-height: 1.375rem;
}

.card-paragraph-small {
  font-size: 0.75rem;
  line-height: 1.2188rem;
}

.title-paragraph {
  color: #525252;
  font-size: 0.9375rem;
}

.text-align-center {
  text-align: center;
}

.heavy-font {
  font-weight: 900;
}

/*******text***********************/

/* ******background**********************/
.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.bg-yellow {
  background-color: #fff085;
}
.bg-yellow2 {
  background-color: #ffdf20;
}

.bg-cyan {
  background-color: rgb(120, 241, 169);
}

.bg-blue {
  background-color: rgb(41, 127, 255);
}

.bg-red {
  background-color: rgb(254, 47, 51);
}

.bg-pink {
  background-color: rgb(251, 162, 217);
}

.bg-purple {
  background-color: rgb(176, 72, 255);
}

.bg-light-yellow {
  background-color: rgb(254, 249, 194);
}

.bg-light-green {
  background-color: rgb(219, 252, 231);
}

.bg-light-pink {
  background-color: rgb(253, 231, 243);
}

.bg-light-blue {
  background-color: rgb(219, 234, 255);
}

.bg-light-purple {
  background-color: rgb(244, 232, 255);
}

.bg-dark-yellow {
  background-color: #ffd230;
}

.bg-violet {
  background-color: #ad46ff;
}

.bg-green {
  background-color: #00c951;
}

.border-bottom {
  border-bottom: 4px solid black;
}


#slider-active{
  display: none;
}


/*******background***********************/

/*******navbar***********************/

.menu{
  
  font-size: 24px;
}

.top{
padding-block: 16px;
  margin-bottom: 28px;
  border-block: 2px solid black;
}

.top .fa-xmark{
  padding: 12px;
  border: 2px solid black;
}

.top .fa-xmark:hover{
  background-color: #f5b8a5;
  color: #ff7a50;
  cursor: pointer;
}


.links a{
  font-size: 20px;
  transition:0.2s color ;
  -webkit-transition:0.2s color ;
  -moz-transition:0.2s color ;
  -ms-transition:0.2s color ;
  -o-transition:0.2s color ;
}

.links-container .links li a:hover{
  color:#ff7a50 ;
  
  cursor: pointer;
}

.links-container{
  position: fixed;
  top: 0;
  right: -100%;
  opacity: 0;
  z-index: 999;
  width: 30%;
  height: 100%;
  background-color: white;
  border-left: 4px solid black;
  padding: 21px;
  transition: opacity 1s , right 1s;
  -webkit-transition: opacity 1s , right 1s;
  -moz-transition: opacity 1s , right 1s;
  -ms-transition: opacity 1s , right 1s;
  -o-transition: opacity 1s , right 1s;
  box-shadow: 6px 6px #000;
}



#slider-active:checked ~.links-container{
  right: 0;
  opacity: 1;
  
}



.slider-button{
  margin-top: 28px;
  padding-block: 10.5px;
  border: 4px solid black;
  background-color: #ffd15b;
  box-shadow:  3px 3px #000;
  text-align: center;
  transition: 0.2s transform;
  -webkit-transition: 0.2s transform;
  -moz-transition: 0.2s transform;
  -ms-transition: 0.2s transform;
  -o-transition: 0.2s transform;
}

.slider-button a{
  font-size: 18px;
  font-weight: 700;
}

.slider-button:hover{
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

.nav .nav-content .content-container {
  background-color: white;
  padding: 12px 24px;
  border: 2px solid black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.nav-content {
  padding-block: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 900;
}

.logo a span {
  font-size: 1.375rem;
  font-weight: 800;
}

#navbar .nav-menu li a {
  font-size: 14px;
}

#navbar .nav-menu li a:hover {
  color: #ff6900;
  transition: 0.3s color;
  -webkit-transition: 0.3s color;
  -moz-transition: 0.3s color;
  -ms-transition: 0.3s color;
  -o-transition: 0.3s color;
}

#navbar .nav-button a {
  background-color: #ffd15b;
  display: block;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 2px solid black;
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}

#navbar .nav-button a:hover {
  transform: translate(5px, 2px);
  -webkit-transform: translate(5px, 2px);
  -moz-transform: translate(5px, 2px);
  -ms-transform: translate(5px, 2px);
  -o-transform: translate(5px, 2px);
}

.nav-menu li {
  margin-inline: 10px;
  font-weight: 600;
}

.nav-menu,
.nav-button {
  display: none;
}

#navbar .nav-menu span i {
  font-size: 12px;
}

#navbar .open-sidebar-button .fa-bars {
  border: 2px solid black;
  padding: 8px 10px;
  border-radius: 0.3125rem;
  box-shadow: 3px 3px #000c;
  cursor: pointer;
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  -ms-border-radius: 0.3125rem;
  -o-border-radius: 0.3125rem;
}

/*******navbar***********************/

/*******header***********************/

.z-index {
  z-index: 55;
}

#home .header-text h1 span {
  text-shadow: 3px 3px #000c;
  display: block;
}

#home {
  padding-block: 7rem 2rem;
}

#home .header-text {
  padding-block: 1.3125rem 1.6875rem;
}

#home .header-paragraph-box {
  border: 2px solid black;
  padding: 1rem;
  background-color: white;
  box-shadow: 4px 4px black;
}

#home .header-paragraph-box p {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 500;
}

#home span.trending-now {
  font-weight: 700;
  font-size: 0.875rem;
  color: white;
  padding: 0.5rem 1rem;
  background-color: black;
  display: inline-block;

  transform-origin: top right;
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  box-shadow: 3px 3px #000;
}

#home.home::before {
  content: "";
  height: 128px;
  width: 128px;
  background-color: rgb(229, 217, 119);
  position: absolute;
  top: 50px;
  left: 150px;
  transform-origin: bottom left;
  transform: rotate(-80deg);
  -webkit-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  -o-transform: rotate(-80deg);
}
#home.home::after {
  content: "";
  height: 96px;
  width: 96px;
  background-color: #fb2c3617;
  position: absolute;
  top: 210px;
  right: 50px;
  transform-origin: bottom left;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

#home.home .third-square {
  height: 96px;
  width: 96px;
  background-color: #2b80ff18;
  position: absolute;
  bottom: 90px;
  left: 620px;
  transform-origin: bottom left;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  z-index: 0;
}

#home .header-buttons {
  margin-block: 2rem;
  display: flex;
  gap: 1em;
}

#home .header-buttons button {
  font-size: 0.9375rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 4px solid black;
  transition: 0.2s transform;
}

#home .header-buttons .start,
.watch {
  box-shadow: 6px 6px #000;
}

#home .header-buttons button:hover {
  transform: translate(6px, 6px);
  -webkit-transform: translate(6px, 6px);
  -moz-transform: translate(6px, 6px);
  -ms-transform: translate(6px, 6px);
  -o-transform: translate(6px, 6px);
}

#home .right-section .image {
  height: 384px;
  transition: 0.3s transform;
  -webkit-transition: 0.3s transform;
  -moz-transition: 0.3s transform;
  -ms-transition: 0.3s transform;
  -o-transition: 0.3s transform;
}

#home .right-section .image img {
  object-fit: cover;
  border: 4px solid black;
  box-shadow: 6px 6px #000;
  height: 384px;
}

#home .right-section .image:hover {
  transform: translate(-2px, -2px);
  -webkit-transform: translate(-2px, -2px);
  -moz-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  -o-transform: translate(-2px, -2px);
}

#home .right-section .featured {
  background-color: rgb(254, 47, 51);
  padding: 0.3125rem 0.625rem;
  box-shadow: 3px 3px #000;
  border: 2px solid black;
  top: 0;
  right: 0px;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform-origin: bottom right;
}

/*******header***********************/

/*******latest articles***********************/

#latest-article .shadow,
#author .card,
#latest-article .trending-now-card,
.categories-card,
#community .large-card {
  box-shadow: 4px 4px #000;
}

.card {
  border: 4px solid black;
  padding: 1.5rem;
  margin-bottom: 2.25rem;
  transition: 0.3s transform, 0.3s box-shadow;
  -webkit-transition: 0.3s transform, 0.3s box-shadow;
  -moz-transition: 0.3s transform, 0.3s box-shadow;
  -ms-transition: 0.3s transform, 0.3s box-shadow;
  -o-transition: 0.3s transform, 0.3s box-shadow;
}

#latest-article .card:hover:not(.trending-now-card):not(.categories-card) {
  transform: translate(-2px, -2px);
  -webkit-transform: translate(-2px, -2px);
  -moz-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  -o-transform: translate(-2px, -2px);
  box-shadow: 5px 5px black;
}

#latest-article .all-cards .card1:hover .card-paragraph h3 {
  color: #e4030a;
}
#latest-article .all-cards .card2:hover .card-paragraph h3 {
  color: #155dfc;
}
#latest-article .all-cards .card3:hover .card-paragraph h3 {
  color: rgb(172, 74, 255);
}

#latest-article .fresh-content span {
  font-weight: 700;
  font-size: 0.875rem;
  color: white;
  padding: 0.5rem 1rem;
  background-color: black;
  display: inline-block;
  transform-origin: top right;
  transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  box-shadow: 3px 3px #000;
}

#latest-article .card .image-card {
  width: 160px;
  height: 128px;
  border: 2px solid black;
  margin-bottom: 0.625rem;
}

#latest-article .card .image-card img {
  width: 100%;
  height: 100%;
}

#latest-article .card .image-section .new {
  font-size: 0.6563rem;
  font-weight: 700;
  padding: 0.1875rem 0.5rem;
  border: 2px solid black;
  top: 0;
  right: 0px;
}

#latest-article .card.card1 .new {
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform-origin: bottom right;
}

#latest-article .card.card2 .new {
  transform: rotate(-10deg);
  transform-origin: top left;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}

#latest-article .desc-span span {
  display: inline-block;
  box-shadow: 3px 3px #000;
  border: 2px solid black;

  font-size: 0.5625rem;
  font-weight: 700;
  padding: 0.1875rem 0.5rem;
  margin-bottom: 0.625rem;
}

#latest-article .card .card-info {
  font-size: 0.6563rem;
  font-weight: 600;
}

#latest-article .card.card3 .new {
  transform-origin: bottom center;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

.load-more-btn {
  text-align: center;
  margin-top: 30px;
}

.load-more-btn div {
  display: inline-block;
  box-shadow: 6px 6px #000;
}

#latest-article .load-more-btn button {
  font-size: 0.9375rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 4px solid black;
  color: white;
  background-color: #000;
  transition: 0.2s transform;
}

#latest-article .load-more-btn button:hover {
  transform: translate(6px, 6px);
  -webkit-transform: translate(6px, 6px);
  -moz-transform: translate(6px, 6px);
  -ms-transform: translate(6px, 6px);
  -o-transform: translate(6px, 6px);
}

.trending-now-card .right-side span.reads {
  font-size: 0.6563rem;
  font-weight: 500;
}

.trending-now-card .left-side span.number {
  font-size: 1.6875rem;
  font-weight: 900;
}

.trending-now-card .title,
.trending,
.categories-card .title {
  padding-bottom: 1.5rem;
}

.trending {
  gap: 10px;
}

.trending .right-side h4 {
  transition: 0.2s color;
  -webkit-transition: 0.2s color;
  -moz-transition: 0.2s color;
  -ms-transition: 0.2s color;
  -o-transition: 0.2s color;
}

.trending.cont1:hover .right-side h4 {
  color: #e4030a;
}
.trending.cont2:hover .right-side h4 {
  color: #155dfc;
}
.trending.cont3:hover .right-side h4 {
  color: rgb(172, 74, 255);
}

.trending:hover {
  cursor: pointer;
}

.categories-card .block {
  padding: 0.5625rem 0.75rem;
  border: 2px solid black;
  margin-bottom: 0.75rem;
  transition: 0.2s box-shadow, 0.2s transform, 0.2s background-color;
  -webkit-transition: 0.2s box-shadow, 0.2s transform, 0.2s background-color;
  -moz-transition: 0.2s box-shadow, 0.2s transform, 0.2s background-color;
  -ms-transition: 0.2s box-shadow, 0.2s transform, 0.2s background-color;
  -o-transition: 0.2s box-shadow, 0.2s transform, 0.2s background-color;
}

.categories-card .block span {
  font-size: 0.75rem;
  font-weight: 700;
}

.categories-card .block:hover {
  box-shadow: 5px 5px black;
  transform: translate(-3px, -3px);
  -webkit-transform: translate(-3px, -3px);
  -moz-transform: translate(-3px, -3px);
  -ms-transform: translate(-3px, -3px);
  -o-transform: translate(-3px, -3px);
  cursor: pointer;
}

.categories-card .block.block1:hover {
  background-color: #ffdf20;
}
.categories-card .block.block2:hover {
  background-color: rgb(120, 241, 169);
}
.categories-card .block.block3:hover {
  background-color: rgb(251, 162, 217);
}
.categories-card .block.block4:hover {
  background-color: rgb(150, 190, 245);
}
.categories-card .block.block5:hover {
  background-color: rgb(203, 148, 254);
}

/*******latest articles***********************/

/*******author***********************/

#author .card {
  transition: 0.3s transform;
  -webkit-transition: 0.3s transform;
  -moz-transition: 0.3s transform;
  -ms-transition: 0.3s transform;
  -o-transition: 0.3s transform;
}

#author .card:hover {
  transform: translate(-2px, -2px);
  -webkit-transform: translate(-2px, -2px);
  -moz-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  -o-transform: translate(-2px, -2px);
}

#author .card.card-1:hover h3 {
  color: rgb(254, 47, 51);
}
#author .card.card-2:hover h3 {
  color: rgb(41, 127, 255);
}
#author .card.card-3:hover h3 {
  color: rgb(176, 72, 255);
}

#author .title {
  padding-bottom: 0.75rem;
  margin-bottom: 3rem;
}

#author .title h2 {
  margin-bottom: 0.75rem;
}

#author .title::after {
  content: "";
  height: 6px;
  width: 96px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%) rotate(1deg);
  -webkit-transform: translate(50%) rotate(1deg);
  -moz-transform: translate(50%) rotate(1deg);
  -ms-transform: translate(50%) rotate(1deg);
  -o-transform: translate(50%) rotate(1deg);
  transform-origin: top left;
}

#author .card .author-card-image {
  width: 30%;
  margin: auto;
  border: 4px solid black;
}

#author .card .author-info span {
  font-size: 0.75rem;
  font-weight: 700;
}

#author .all-cards .social-icons i.fa-brands {
  color: white;
  background-color: #000;
  padding: 0.625rem;
  margin-left: 0.75rem;
  transition: 0.2s box-shadow, 0.2s transform;
  -webkit-transition: 0.2s box-shadow, 0.2s transform;
  -moz-transition: 0.2s box-shadow, 0.2s transform;
  -ms-transition: 0.2s box-shadow, 0.2s transform;
  -o-transition: 0.2s box-shadow, 0.2s transform;
}

#author .all-cards .social-icons i.fa-brands:hover {
  box-shadow: 6px 6px black;
  transform: translate(-4px, -4px);
  -webkit-transform: translate(-4px, -4px);
  -moz-transform: translate(-4px, -4px);
  -ms-transform: translate(-4px, -4px);
  -o-transform: translate(-4px, -4px);
}

#author .all-cards .social-icons i.fa-twitter:hover {
  background-color: #1da1f2;
}
#author .all-cards .social-icons i.fa-linkedin:hover {
  background-color: #0077b5;
}
#author .all-cards .social-icons i.fa-instagram:hover {
  background-color: #e1306c;
}

#author .all-cards .card-1::after {
  content: "FOUNDER";
  width: fit-content;
  color: white;
  background-color: rgb(254, 47, 51);
  position: absolute;
  top: 25px;
  right: 10px;
  transform: rotate(12deg);
  transform-origin: bottom right;
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  -o-transform: rotate(12deg);
  font-size: 0.6563rem;
  font-weight: 700;
  padding: 0.1875rem 0.5rem;
  border: 2px solid black;
}

#author .all-cards .card-2::after {
  content: "LEAD";
  width: fit-content;

  color: white;
  background-color: #2b7fff;
  position: absolute;
  top: 15px;
  right: 10px;
  transform: rotate(12deg);
  transform-origin: bottom right;
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  -o-transform: rotate(12deg);
  font-size: 0.6563rem;
  font-weight: 700;
  padding: 0.1875rem 0.5rem;
  border: 2px solid black;
}

#author .all-cards .card-3::after {
  content: "VIRAL";
  width: fit-content;
  color: white;
  background-color: #ad46ff;
  position: absolute;
  top: 30px;
  right: 20px;
  transform: rotate(34deg);
  transform-origin: bottom right;
  -webkit-transform: rotate(34deg);
  -moz-transform: rotate(34deg);
  -ms-transform: rotate(34deg);
  -o-transform: rotate(34deg);
  font-size: 0.6563rem;
  font-weight: 700;
  padding: 0.1875rem 0.5rem;
  border: 2px solid black;
}

#author.section3::before {
  content: "";
  height: 150px;
  width: 150px;
  background-color: #e5bd2b;
  position: absolute;
  top: 30px;
  right: 30px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

#author.section3::after {
  content: "";
  height: 130px;
  width: 130px;
  background-color: #ffc131;
  position: absolute;
  bottom: 40px;
  left: 40px;
  transform: rotate(70deg);
  -webkit-transform: rotate(70deg);
  -moz-transform: rotate(70deg);
  -ms-transform: rotate(70deg);
  -o-transform: rotate(70deg);
  z-index: 0;
}

/*******author***********************/

/*******community***********************/

#community .title::after {
  content: "";
  height: 6px;
  width: 96px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%) rotate(-1deg);
  -webkit-transform: translate(50%) rotate(-1deg);
  -moz-transform: translate(50%) rotate(-1deg);
  -ms-transform: translate(50%) rotate(-1deg);
  -o-transform: translate(50%) rotate(-1deg);
  transform-origin: top left;
}

#community .title {
  padding-bottom: 0.9375rem;
  margin-bottom: 3rem;
}

#community .left-side-section .paragraph-container p {
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.5313rem;
}

#community .paragraph-container {
  padding: 0.75rem;
  border: 1px solid black;
  box-shadow: 4px 4px black;
}

#community .common i {
  font-size: 15px;
  color: white;
}

#community .iconss {
  width: 2.25rem;
  height: 2.25rem;

  border: 2px solid black;
}

#community .iconss1{
  background-color: rgb(254, 47, 51);
}
#community .iconss2{
  background-color:  rgb(41, 127, 255);
}
#community .iconss3{
  background-color:  #ad46ff;
}
#community .iconss4{
  background-color:   #00c951;
}



#community .features span,
.right-side-section .card p {
  font-size: 0.8438rem;
  font-weight: 600;
  line-height: 1.3125rem;
}

#community .join-now-btn div {
  margin-block: 2.25rem;
    box-shadow: 6px 6px #000;
    display: inline-block;

}



#community .join-now-btn button {
  font-size: 1.125rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 4px solid black;
  color: white;
  background-color: #000;
  transition: 0.2s transform;

}

#community .join-now-btn button:hover{
transform: translate(6px, 6px);
  -webkit-transform: translate(6px, 6px);
  -moz-transform: translate(6px, 6px);
  -ms-transform: translate(6px, 6px);
  -o-transform: translate(6px, 6px);
  cursor: pointer;
}

#community .right-side-section .card .container {
  border: 2px solid black;
  padding: 0.75rem 1.125rem;
}

#community .right-side-section .card1 {
  background-color: #fef2f2;
}
#community .right-side-section .card2 {
  background-color: #eff6ff;
}
#community .right-side-section .card3 {
  background-color: #faf5ff;
}

#community .right-side-section .container:not(:last-child) {
  margin-bottom: 1.5rem;
}

#community .right-side-section .large-card {
  padding: 1.875rem;
}

#community .card .card-info .card-image {
  width: 12%;
  border: 2px solid black;
}

#community .card .member-info span {
  font-size: 0.6563rem;
  color: #646363;
}

/*******community***********************/

/*******footer***********************/

#footer .footer-left-column .footer-logo .icon {
  width: 2.25rem;
  height: 2.25rem;
  background-color: white;
}

#footer .footer-left-column .footer-logo i {
  color: #000;
  font-size: 1rem;
}

#footer .footer-left-column {
  margin-bottom: 3.125rem;
}

#footer .footer-middle-column ul li {
  font-size: 0.8438rem;
  font-weight: 600;
  margin-bottom: 0.9375rem;
}

#footer .footer-right-column .form input {
  width: 100%;
  padding: 0.75rem;
  background-color: transparent;
  border: 2px  solid  white;
    outline: none;

  
}

#footer .footer-right-column .form input[placeholder="YOUR EMAIL ADDRESS"] {
  color: white;
  font-weight: 600;
  font-size: 0.75rem;
}

#footer .footer-right-column .form input:focus{
border: 2px solid #ffdf20;

}

#footer .footer-right-column .form button {
  width: 100%;
  background-color: #ffdf20;
  padding: 0.75rem;
  font-size: 0.8438rem;
  font-weight: 700;
  box-shadow: inset -3px -3px #0003;
  margin-bottom: 2.25rem;
  transition: .2s transform , .2s background-color;
  -webkit-transition: .2s transform , .2s background-color;
  -moz-transition: .2s transform , .2s background-color;
  -ms-transition: .2s transform , .2s background-color;
  -o-transition: .2s transform , .2s background-color;
}

#footer .footer-right-column .form button:hover{
  transform: translate(3px , 3px);
  -webkit-transform: translate(3px , 3px);
  -moz-transform: translate(3px , 3px);
  -ms-transform: translate(3px , 3px);
  -o-transform: translate(3px , 3px);
  background-color: #fcbe39;
  cursor: pointer;
}

#footer .footer-bottom {
  padding-top: 1.5rem;
}

#footer .footer-bottom::after {
  content: "";
  height: 0.25rem;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
}

#footer .footer-bottom .copy-rights p {
  margin-bottom: 0.5625rem;
}

#footer .footer-bottom .privacy-lists ul li:not(:last-child) {
  margin-right: 1.5rem;
}

#footer ul li{
  transition: .1s color;
  -webkit-transition: .1s color;
  -moz-transition: .1s color;
  -ms-transition: .1s color;
  -o-transition: .1s color;
}

#footer ul li:hover{
  color: #FFDF20;
}


.test1 {
  background-color: red;
}

.test2 {
  background-color: blue;
}

.test3 {
  background-color: orange;
}

.test4 {
  background-color: green;
}
