/* ******general********************** */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}

*::selection {
  background-color: #ffd15b;
  color: black;
  text-shadow: none;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.content-container {
  width: 95%;
  margin: auto;
  padding: 10px;
}

.padding-block-section {
  padding-block: 24px;
}

.no-padding{
  padding: 0;
}

.margin-10 {
  margin-bottom: 10px;
}

.margin0 {
  margin: 0;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.d-flex {
  display: flex;
}

.gap{
  gap: 1em;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}

.align-items-space-around {
  align-items: space-around;
}

.align-items-space-between {
  align-items: space-between;
}

.align-items-space-evenly {
  align-items: space-evenly;
}

/* ******general********************** */

/* ******text**********************/

.text-orange {
  color: #ff6900;
}

.text-red {
  color: #e7000b;
}

.text-blue {
  color: #155dfc;
}

.text-white {
  color: white;
}

.text-red2 {
  color: #e4030a;
}

.text-violet{
  color: rgb(172, 74, 255);
}

.text-gray {
  color: rgb(204, 204, 204);
}

.f-size14 {
  font-size: 0.875rem;
}
.f-size16 {
  font-size: 1rem;
}
.f-size18 {
  font-size: 1.125rem;
}
.f-size20 {
  font-size: 1.25rem;
}
.f-size24 {
  font-size: 1.5rem;
}

.weight-700 {
  font-weight: 700;
}

h1 {
  font-size: 3.125rem;
  font-weight: 900;
  line-height: 3.75rem;
}

h2 {
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 3rem;
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

h4{
  font-size: 1.4063rem;
  font-weight: 900;
}

h5{
  font-size: .8438rem;
  font-weight: 700;
}

.card-paragraph {
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

/*******text***********************/

/* ******background**********************/
.bg-white {
  background-color: white;
}

.bg-yellow {
  background-color: #fff085;
}

.bg-black {
  background-color: black;
}

.bg-yellow{
  background-color:  rgb(254, 240, 133);
}

.bg-cyan{
  background-color: rgb(120, 241, 169);
}

.bg-blue{
  background-color: rgb(41, 127, 255);
}

.bg-red{
  background-color: rgb(254, 47, 51);
}

.bg-pink{
  background-color: rgb(251, 162, 217);
}

.bg-purple{
  background-color: rgb(176, 72, 255);
}

.bg-light-yellow{
  background-color: rgb(254, 249, 194);
}

.bg-light-green{
  background-color: rgb(219, 252, 231);
}

.bg-light-pink{
  background-color: rgb(253, 231, 243);
}

.bg-light-blue{
  background-color: rgb(219, 234, 255);
}

.bg-light-purple{
  background-color: rgb(244, 232, 255);
}
/*******background***********************/

/*******navbar***********************/

.nav .nav-content .content-container {
  background-color: white;
  padding: 0.75rem 1.5rem;
  border: 2px solid black;
  border-radius: 0.9375rem;
  -webkit-border-radius: 0.9375rem;
  -moz-border-radius: 0.9375rem;
  -ms-border-radius: 0.9375rem;
  -o-border-radius: 0.9375rem;
}

.nav-content {
  padding-block: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.logo a span {
  font-size: 1.625rem;
  font-weight: 800;
}

#navbar .nav-menu li a {
  font-size: 14px;
}

#navbar .nav-button a {
  background-color: #ffd15b;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 2px solid black;
}

.nav-menu li {
  margin-inline: 0.625rem;
  font-weight: 600;
}

.nav-menu,
.nav-button {
  display: none;
}

#navbar .mobile-menu .fa-bars {
  border: 2px solid black;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  box-shadow: 3px 3px #000c;
  cursor: pointer;
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  -ms-border-radius: 0.3125rem;
  -o-border-radius: 0.3125rem;
}

/*******navbar***********************/

/*******header***********************/

#home .header-text h1 span {
  text-shadow: 3px 3px #000c;
  display: block;
  font-size: 3.9375rem;
  line-height: 4.9219rem;
}

#home {
  border-bottom: 3px solid black;
  padding-block: 7rem 2rem;
}

#home .header-text {
  padding-block: 1.3125rem 1.6875rem;
}

#home .header-paragraph-box {
  border: 2px solid black;
  padding: 1rem;
  background-color: white;
  box-shadow: 4px 4px black;
}

#home .header-paragraph-box p {
  font-size: 1.3125rem;
  line-height: 1.75rem;
  font-weight: 500;
}

#home span.trending-now {
  font-weight: 700;
  font-size: 0.7656rem;
  color: white;
  padding: 0.5rem 1rem;
  background-color: black;
  display: inline-block;

  transform-origin: top right;
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  box-shadow: 3px 3px #000;
}

#home.home::before {
  content: "";
  height: 128px;
  width: 128px;
  background-color: rgb(229, 217, 119);
  position: absolute;
  top: 50px;
  left: 150px;
  transform-origin: bottom left;
  transform: rotate(-80deg);
  -webkit-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  -o-transform: rotate(-80deg);
}
#home.home::after {
  content: "";
  height: 96px;
  width: 96px;
  background-color: #fb2c3617;
  position: absolute;
  top: 210px;
  right: 50px;
  transform-origin: bottom left;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

#home.home .third-square {
  height: 96px;
  width: 96px;
  background-color: #2b80ff18;
  position: absolute;
  bottom: 100px;
  left: 600px;
  transform-origin: bottom left;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  z-index: 0;
}

#home .header-buttons {
  margin-block: 2rem;
  display: flex;
  gap: 1em;
}

#home .header-buttons button {
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 4px solid black;
  box-shadow: 6px 6px #000;
}

#home .right-section .image {
  height: 384px;
}

#home .right-section .image img {
  object-fit: cover;
  border: 4px solid black;
  box-shadow: 6px 6px #000;
  height: 384px;
}

#home .right-section .featured {
  background-color: rgb(254, 47, 51);
  padding: 0.3125rem 0.625rem;
  box-shadow: 3px 3px #000;
  border: 2px solid black;
  top: 0;
  right: 0px;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform-origin: bottom right;
}

/*******header***********************/

/*******latest articles***********************/

.card {
  box-shadow: 5px 5px #000;
  border: 4px solid black;
  margin-block: 1.5rem 0.875rem;
}

#latest-article .card-container {
  padding: 1.5rem;
}

#latest-article .card .image-card {
  width: 7.5rem;
  height: 6rem;
  border: 2px solid black;
  margin-bottom: 0.625rem;
}

#latest-article .card .image-card img{
  width: 100%;
  height: 100%;
}

#latest-article .card .image-section .new {
  font-size: .75rem;
  font-weight: 700;
  padding: .1875rem 0.5rem;
  border: 2px solid black;
  top: 0;
  right: 0px;
}

#latest-article .card.card1 .new{
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform-origin: bottom right;
}

#latest-article .card.card2 .new{
  transform: rotate(-10deg);
  transform-origin: top left;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}


#latest-article .desc-span span {
  display: inline-block;
  box-shadow: 3px 3px #000;
  border: 2px solid black;

  font-size: .75rem;
  font-weight: 700;
  padding: .1875rem 0.5rem;
  margin-bottom: 0.625rem;
}

#latest-article .card .card-info {
  font-size: .625rem;
  font-weight: 600;
}

#latest-article .card.card3 .new{
  transform-origin: bottom center;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

#latest-article .load-more-btn button{
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 4px solid black;
  box-shadow: 6px 6px #000;
  color: white;
  background-color: #000;
 
  
}

.load-more-btn{
  text-align: center;
  margin-top: 30px;
}

.trending-and-categories .right-side span.reads{
  font-size: .6563rem;
  font-weight: 500;
}

.trending-and-categories .left-side span.number{
  font-size: 1.6875rem;
  font-weight: 900;

}

.trending-and-categories .title , .trending{
  padding-bottom: 1.5rem;
}

.categories h4{
  margin-bottom: 1.125rem;
}

.categories .block{
  padding: .5625rem .75rem;
  border: 2px solid black;
  margin-bottom: .75rem;
}

.categories .block span{
  font-size: .75rem;
  font-weight: 700;
}

.trending{
  gap: 20px;
}







.test1 {
  background-color: red;
}

.test2 {
  background-color: blue;
}

.test3 {
  background-color: orange;
}

.test4 {
  background-color: green;
}
