/* sm */

@media screen and (min-width: 576px) {
  .sm-25 {
    width: 25%;
  }
  .sm-33 {
    width: 33.3333%;
  }
  .sm-50 {
    width: 50%;
  }
  .sm-100 {
    width: 100%;
  }

  .sm-d-none {
    display: none;
  }

  .sm-d-block {
    display: block;
  }

  .sm-d-flex {
    display: flex;
  }

  .sm-flex-wrap {
    flex-wrap: wrap;
  }

  /* root in small screen */
  html {
    font-size: 19px;
  }
}

/* md */

@media screen and (min-width: 768px) {
  .md-25 {
    width: 25%;
  }
  .md-33 {
    width: 33.3333%;
  }
  .md-50 {
    width: 50%;
  }
  .md-100 {
    width: 100%;
  }

  .md-d-none {
    display: none;
  }

  .md-d-block {
    display: block;
  }

  .md-d-flex {
    display: flex;
  }

  .md-row-gap {
    row-gap: 0.1875rem;
  }

  .md-col-gap {
    column-gap: 1rem;
  }

  /* عشان يخلي الزياده عن 50% ينزل السطر ال تحته */
  .md-flex-wrap {
    flex-wrap: wrap;
  }

  .md-justify-flex-start {
    justify-content: flex-start;
  }

  /* عشان يخلي كل اتنين سبان ف الكارد ييجو تحت بعض لما الاسكرين تكبر للميديام */
  #latest-article .card-info span {
    flex: 50%;
  }

  /* root in medium screen */
  html {
    font-size: 21.5px;
  }

  .md-padding-section {
    padding-block: 80px;
  }

  .md-margin-48 {
    margin-top: 48px;
    margin-bottom: 28px;
  }

  /* عشان اخلي السكشن ده ياخد العرض الكامل ف الاسكرين ال ميديام */
  #footer .content-container .footer-left-column {
    flex-basis: 100%;
  }

  /*  عشان اخلي السكشن ده ياخد نص العرض  ف الاسكرين ال ميديام وييجو جمب بعض */
  #footer .content-container .footer-middle-column {
    
    flex-basis: calc(25% - 1em);
  }

  #footer .content-container .footer-right-column {
  
    flex-basis: calc(75% - 1em);
  }

  /* عشان اخلي السكشن ده ياخد العرض الكامل ف الاسكرين ال ميديام */
  #footer .content-container .footer-bottom {
    flex-basis: 100%;
  }
}

/* lg */

@media screen and (min-width: 992px) {
  .lg-25 {
    width: 25%;
  }
  .lg-33 {
    width: 33.3333%;
  }
  .lg-50 {
    width: 50%;
  }
  .lg-100 {
    width: 90%;
  }

  .lg-d-none {
    display: none;
  }

  .lg-d-block {
    display: block;
  }
  .lg-d-flex {
    display: flex;
  }

  .lg-flex-wrap {
    flex-wrap: wrap;
  }

  .lg-align-items-center {
    align-items: center;
  }

  .lg-justify-content-space-between {
    justify-content: space-between;
  }

  .lg-gap {
    gap: 4rem;
  }

  /* to make image of home rotates when screen is 992 */
  .right-section .image img {
    transform-origin: top right;
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
  }

  /*  عشان اخلي 2 كارد جمب بعض وبينهم جاب والعنصر التالت اللي هينزل 
تحت ميكبرش او يصغر لو المساحه كبرت او صغرت  */
  #author .all-cards .card {
    flex: 0 0 calc(50% - 1rem);
    margin-bottom: 1rem;
  }

  .lg-col-gap-3 {
    column-gap: 3em;
  }

  /* العنصرين يكبرو لو في مساحه  ويبقو جمب بعض */
  #community .left-side-section {
    flex: 1 1 calc(50% - 3em);
  }

  #community .right-side-section {
    flex: 1 1 calc(50% - 3em);
  }

  .lg-col-gap {
    column-gap: 1rem;
  }

#footer .content-container .footer-left-column {
    flex-basis: calc(100% / 3) ;
  }

  /*  عشان اخلي السكشن ده ياخد نص العرض  ف الاسكرين ال ميديام وييجو جمب بعض */
  #footer .content-container .footer-middle-column {
    
  flex-basis: auto;
    
  }

  #footer .content-container .footer-right-column {
  flex-basis: calc(100% / 3) ;
   
  }

  /* عشان اخلي السكشن ده ياخد العرض الكامل ف الاسكرين ال ميديام */
  #footer .content-container .footer-bottom {
    flex-basis: 100%;
  }



}

/* xl */

@media screen and (min-width: 1200px) {
  .xl-25 {
    width: 25%;
  }
  .xl-33 {
    width: 33.3333%;
  }
  .xl-50 {
    width: 50%;
  }
  .xl-100 {
    width: 100%;
  }
  .xl-d-none {
    display: none;
  }

  .xl-d-block {
    display: block;
  }

  .xl-d-flex {
    display: flex;
  }

  .xl-flex-wrap {
    flex-wrap: wrap;
  }

  .xl-p-sticky {
    position: sticky;
    top: 0;
  }

  .xl-align-items-start {
    align-items: start;
  }

   .xl-space-between {
    justify-content: space-between;
  }

  .xl-align-items-center{
    align-items: center;
  }

  .xl-flex-direction {
    flex-direction: column;
  }

  .xl-gap {
    gap: 2em;
  }

  .all-cards {
    flex: 2;
  }

  .all {
    flex: 1;
  }

  /* العناصر كلها تكبر قد بعض او تصغر قد بعض وكلهم يجو جمب بعض */
  #author .all-cards .card {
    flex: 1 1;
    margin-bottom: 1rem;
  }

  #footer .footer-bottom .copy-rights p{
  margin-bottom:0;
}

}

/* xxl */

@media screen and (min-width: 1400px) {
  .xxl-25 {
    width: 25%;
  }
  .xxl-33 {
    width: 33.3333%;
  }
  .xxl-50 {
    width: 50%;
  }
  .xxl-100 {
    width: 100%;
  }
  .xxl-d-none {
    display: none;
  }

  .xxl-d-block {
    display: block;
  }

  .xxl-d-flex {
    display: flex;
  }

  .xxl-flex-wrap {
    flex-wrap: wrap;
  }
  .xxl-flex-no-wrap {
    flex-wrap: nowrap;
  }

  .xxl-space-between {
    justify-content: space-between;
  }

  /* عشان اخلي المحتوي ياخد الحيز بتاع الكونتينر لما اوصل لاسكرين 1400 */
  .xxl-container-83 {
    width: 83%;
    margin: auto;
  }

  /* عشان اخلي كل العناصر  ف الكارد ييجو جمب بعض ولو في 
مساحه زياده ميملوهاش
 عشان اعرف اعمل سبيس بيتوين 
اوتو عشان العرض يبقي قد المحتوي*/
  #latest-article .card-info span {
    flex: 0 auto;
  }
}
